node_modules
pnpm-lock.yaml
apps/web/.next
apps/web/out
apps/cms/dist
apps/cms/build
apps/cms/.strapi
apps/cms/.cache
apps/cms/types/generated
apps/cms/public/uploads
# Rewritten by the Strapi CLI on every update check — not hand-authored.
apps/cms/.strapi-updater.json
